*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorblack: black;
    --colorwhite: white;
    --colorgray: gray;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: clamp(8px, 1rem, 2em);
    border-radius: 10%;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 20px 10px;
    font-size: clamp(16px, 1rem, 2em);
    background-color: skyblue;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 30%;
}
.serch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#serch {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10%;
    padding: 5px 7px;
}
label {
    font-size: 30px;
    margin: 5px;
    text-shadow: 1px 1px 1px white;
}
input {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10%;
    padding: 5px 7px;
    text-align: center;
}
nav {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    border: 2px solid skyblue;
    padding: 40px;
}
nav a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    color: orange;
    font-size: clamp(16px, 1.1rem, 2em);
    width: 100%;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
}
    
a:hover {
    box-shadow: 2px 2px 5px 2px skyblue;
    font-size: 20px;
    text-align: center;

}
h2 {
    text-shadow: 1px 1px 1px white;
    text-align: flex-start;
    color: rgb(32, 68, 137);
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(6, auto);
    width:100%;
    gap: 30px 50px;
    padding: 20px 15px;
    text-align: center;
}

.aside {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/7;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border: 3px solid rgb(32, 68, 137);
    gap: 20px;
    background-color: skyblue;
}
.aside a{
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 5px 2px white;
    padding: 20px;
}

slids1 {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    justify-content: center;
    align-items: center;
    border: 16px solid skyblue;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
}
.story{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    gap: 20px;
    padding: 10px 10px;
}
slids2 {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-content: center;
    align-items: center;
    border: solid 16px skyblue;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
}
iframe {
    border: 4px solid black;
}
.teach_learn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    gap: 20px;
    padding: 10px 10px;
}
slids3 {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    justify-content: center;
    align-items: center;
    border: solid 16px skyblue;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
}
.songs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    gap: 20px;
    padding: 10px 10px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 15px;
    background-color: skyblue;
    width: 100%;
}
footer a {
    color: black;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 30px 10px;
}
footer a:hover {
    font-size: 25px;
}
.footer-info p {
    color: orange;
    text-shadow: 1px 1px 1px black;
    font-size: 28px;
}
@media screen and (max-width:600px) {
    header {
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
    .aside {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    slids1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    slids2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    slids3 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
}